.hotelDetailsBackground {
  background-color: rgba(255, 255, 255, 0.6);
}

.hotelDetails {
  margin: 20px;
}

.hotelDetailsContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.hotelDetailsWrapper {
  width: 100%;
  display: flex;
  gap: 20px;
  margin: 0px 20px 20px 20px;
}

.hotelDetailsSearch {
  flex: 1;
  background-color: #a9bffb;
  padding: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.hotelDetailsTitle {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.hotelDetailsSearch > button {
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.hotelDetailsResult {
  flex: 2;
}
