@import url("https://fonts.googleapis.com/css?family=Poppins");

.listBackground {
  background-color: rgba(255, 255, 255, 0.6);
}

.listContainer {
  display: flex;
  justify-content: center;
  /* decide whether to have white/no background */
  background-color: none;
}

.listWrapper {
  width: 100%;
  display: flex;
  gap: 20px;
  margin: 20px;

}

.listSearch {
  flex: 1;
  background-color: #a9bffb;
  padding: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem > label {
  font-size: 12px;
}

.lsItem > input {
  height: 30px;
  border: none;
  padding: 5px;
}
.lsItem > span {
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions {
  padding: 10px;
}

.lsOptionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}

.lsOptionInput {
  width: 50px;
}

.listSearch > button {
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.listResult {
  flex: 2;
}

.filter {
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.75);
  justify-content: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  
}

.headerSearchItem1 {
  gap: 10px;
  color: black;
  margin-bottom: 10px;
}

.spaceItem {
  gap: 10px;
  color: black;
  padding-bottom: 10px;
}

.filterHeader {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Poppins";
  font-weight: 100;
  text-align: center;
}

.filterSearchInput {
  height: 40px;
  font-size: 14px;
  padding: 0px 5px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
}

.form-group {
  font-size: 13px;
  display: grid;
  grid-template-columns: 15px auto;
  line-height: 2;
  gap: 7px;
  font-family: "Poppins";
}

.form-group-rating {
  display: grid;
  grid-template-columns: 15px auto;
  gap: 5px;
}

.backgroundItem {
  background-color: white;
  padding-left: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.btn {
  border: none;
  background: none;
  font-family: "Poppins";
  font-size: 15px;
  width: 100%;
  cursor: pointer;
  align-items: center;
}

.success {
  color: black;
  align-items: left;
}

