@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  background-image: url(../../components/navbar/background3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.homeContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
}

.childHomeContainer {
  width: 1024px;
  display: flex;
  align-items: center;
}

.question {
  float: center;
  width: 50%;
}

.text {
  text-align: left;
  font-size: 80px;
  line-height: 70pt;
  font-weight: bold;
  color: white;
}

.search {
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.6);
  width: 50%;
  justify-content: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.headerSearchItem1 {
  gap: 10px;
  color: black;
}

.destinationSearchInput {
  height: 40px;
  font-size: 12px;
  padding: 0px 5px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.spaceItem {
  gap: 10px;
  color: black;
  padding-bottom: 10px;
}

.date {
  position: absolute;
  z-index: 2;
  color: black;
}

.dateItem {
  font-size: 12px;
  padding: 12px 5px;
  color: black;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
}

.childSearchContainer {
  width: 50%;
  color: black;
  padding-bottom: px;
  padding-top: 10px;
}

.countItem {
  font-size: 12px;
  border-radius: 5px;
  gap: 10px;
  color: black;
  background-color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  margin-bottom: 20px;
}

.options {
  display: contents;
  color: black;
  border-radius: 5px;
}

.optionItem {
  display: flex;
  justify-content: space-evenly;
  width: min-content;
  align-items: center;
}

.optionCounter {
  padding-left: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

.checkItem {
  border-radius: 5px;
  gap: 10px;
}

.searchButton {
  font-weight: bold;
  width: 100%;
  height: 40px;
  color: white;
  background: rgb(76, 148, 98,1);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
